In [124]:
import numpy as np
import pandas as pd
import matplotlib as mlt
import random

In [126]:
import pandas as pd
import random

# Set random seed for reproducibility
random.seed(42)
np.random.seed(42)

# List of common Nepali names
nepali_names = [
    "Ram", "Shyam", "Hari", "Sita", "Gita", "Krishna", "Radha", "Madan", 
    "Puja", "Manish", "Prakash", "Sunita", "Ramesh", "Anita", "Suman", 
    "Dipesh", "Kiran", "Binita", "Sandesh", "Rekha", "Bikash", "Niraj", 
    "Sarita", "Aarati", "Santosh", "Bimal", "Pooja", "Sanjay", "Sabina", "Rupa"
]

# List of common Nepali food items
food_items = [
    "Momo", "Dal Bhat", "Sel Roti", "Thukpa", "Chowmein", "Sekuwa",
]

# Generate sample data
names = ["Shirish Baral"] + [random.choice(nepali_names) for _ in range(49)]
genders = ["Male"] + [random.choice(["Male", "Female"]) for _ in range(49)]
cities = ["Pokhara"] + [random.choice(["Pokhara","Kathmandu", "Lalitpur", 
                                       "Dharan", "Chitwan", "Bhaktapur", "Butwal", "Nepalgunj"]) for _ in range(49)]
frequencies = [random.choice(["Daily", "Weekly", "Monthly"]) for _ in range(50)]
item = ["Momo"] + [random.choice(food_items) for _ in range(49)]
spends = [random.randint(500, 5000) for _ in range(50)]
# Amounts in Nepali Rupees (NPR)

# Create the DataFrame
food = pd.DataFrame({
    "Name": names,
    "Gender": genders,
    "City": cities,
    "Frequency": frequencies,
    "Food Item": item,
    "Spends (NPR)": spends
})

# Optionally, save the dataset to a CSV file
food.to_csv("food_dataset_nepal.csv", index=False)

food

             Name  Gender       City Frequency Food Item  Spends (NPR)
0   Shirish Baral    Male    Pokhara     Daily      Momo          3956
1          Bikash  Female  Bhaktapur    Weekly    Sekuwa          2003
2            Sita    Male     Dharan    Weekly    Sekuwa          2781
3             Ram    Male  Nepalgunj     Daily      Momo          4289
4          Aarati  Female     Butwal     Daily  Dal Bhat          2546
5            Puja    Male  Nepalgunj     Daily      Momo          1117
6           Madan  Female   Lalitpur   Monthly      Momo          4130
7           Madan  Female    Chitwan     Daily  Sel Roti          1302
8            Gita  Female   Lalitpur     Daily      Momo           914
9          Aarati    Male     Dharan   Monthly  Chowmein          4928
10           Sita  Female    Chitwan    Weekly  Dal Bhat           620
11          Niraj    Male     Butwal     Daily  Sel Roti          1264
12         Aarati  Female     Butwal   Monthly    Sekuwa          2436
13         Sabina    Male  Bhaktapur     Daily    Thukpa          1862
14         Binita  Female     Dharan     Daily  Dal Bhat          3829
15           Hari  Female   Lalitpur   Monthly  Chowmein          4478
16        Sandesh    Male  Nepalgunj    Weekly  Dal Bhat          4443
17          Anita    Male  Kathmandu   Monthly    Sekuwa          2251
18          Shyam    Male    Pokhara     Daily  Chowmein          3785
19            Ram    Male  Kathmandu    Weekly  Chowmein           980
20           Hari  Female   Lalitpur   Monthly    Thukpa          1848
21          Radha    Male   Lalitpur   Monthly  Dal Bhat          3604
22          Madan    Male     Butwal    Weekly    Thukpa           517
23          Kiran    Male  Kathmandu     Daily    Thukpa          3698
24          Rekha  Female     Butwal   Monthly  Dal Bhat          2672
25            Ram  Female     Butwal   Monthly      Momo          4227
26         Binita  Female  Nepalgunj   Monthly      Momo          2836
27          Radha  Female    Chitwan     Daily    Sekuwa          3965
28         Sarita    Male    Pokhara   Monthly    Thukpa          4486
29         Bikash  Female  Kathmandu    Weekly  Sel Roti          1768
30         Sarita  Female    Chitwan    Weekly    Thukpa          2055
31         Binita    Male  Bhaktapur   Monthly    Thukpa          2930
32          Anita  Female  Kathmandu   Monthly    Thukpa          2283
33          Madan    Male    Chitwan    Weekly    Sekuwa           979
34          Suman    Male     Butwal    Weekly      Momo          4941
35        Sandesh    Male   Lalitpur   Monthly    Sekuwa           999
36           Puja    Male  Nepalgunj    Weekly    Sekuwa          3069
37          Bimal  Female    Pokhara     Daily    Sekuwa           968
38         Sanjay  Female    Chitwan     Daily      Momo           910
39            Ram  Female   Lalitpur     Daily      Momo          4405
40        Santosh    Male  Kathmandu     Daily    Thukpa          4619
41          Bimal  Female    Chitwan    Weekly    Sekuwa          4850
42        Krishna    Male     Dharan     Daily  Sel Roti          1789
43         Sarita    Male   Lalitpur   Monthly      Momo           965
44          Anita    Male  Bhaktapur   Monthly  Dal Bhat          4660
45        Prakash  Female   Lalitpur     Daily  Dal Bhat          1156
46           Puja  Female    Pokhara   Monthly  Dal Bhat          2022
47           Gita  Female  Bhaktapur     Daily  Chowmein          1061
48          Radha    Male  Nepalgunj     Daily    Thukpa          1056
49        Santosh    Male    Pokhara     Daily  Dal Bhat          2426

In [138]:
# Count of food items
food_counts = food['Food Item'].value_counts()
food_counts

Food Item
Momo        11
Sekuwa      10
Dal Bhat    10
Thukpa      10
Chowmein     5
Sel Roti     4
Name: count, dtype: int64

In [140]:
# Count of city
ct = food['City'].value_counts()
ct

City
Lalitpur     9
Butwal       7
Chitwan      7
Pokhara      6
Nepalgunj    6
Kathmandu    6
Bhaktapur    5
Dharan       4
Name: count, dtype: int64

In [142]:
food.pivot_table(index=['City','Gender'],columns=['Food Item','Frequency'], values='Spends (NPR)'
, aggfunc='mean')

Food Item        Chowmein                Dal Bhat                    Momo  \
Frequency           Daily Monthly Weekly    Daily Monthly  Weekly   Daily
City      Gender
Bhaktapur Female   1061.0     NaN    NaN      NaN     NaN     NaN     NaN
          Male        NaN     NaN    NaN      NaN  4660.0     NaN     NaN
Butwal    Female      NaN     NaN    NaN   2546.0  2672.0     NaN     NaN
          Male        NaN     NaN    NaN      NaN     NaN     NaN     NaN
Chitwan   Female      NaN     NaN    NaN      NaN     NaN   620.0   910.0
          Male        NaN     NaN    NaN      NaN     NaN     NaN     NaN
Dharan    Female      NaN     NaN    NaN   3829.0     NaN     NaN     NaN
          Male        NaN  4928.0    NaN      NaN     NaN     NaN     NaN
Kathmandu Female      NaN     NaN    NaN      NaN     NaN     NaN     NaN
          Male        NaN     NaN  980.0      NaN     NaN     NaN     NaN
Lalitpur  Female      NaN  4478.0    NaN   1156.0     NaN     NaN  2659.5
          Male        NaN     NaN    NaN      NaN  3604.0     NaN     NaN
Nepalgunj Female      NaN     NaN    NaN      NaN     NaN     NaN     NaN
          Male        NaN     NaN    NaN      NaN     NaN  4443.0  2703.0
Pokhara   Female      NaN     NaN    NaN      NaN  2022.0     NaN     NaN
          Male     3785.0     NaN    NaN   2426.0     NaN     NaN  3956.0

Food Item                         Sekuwa                 Sel Roti          \
Frequency        Monthly  Weekly   Daily Monthly  Weekly    Daily  Weekly
City      Gender
Bhaktapur Female     NaN     NaN     NaN     NaN  2003.0      NaN     NaN
          Male       NaN     NaN     NaN     NaN     NaN      NaN     NaN
Butwal    Female  4227.0     NaN     NaN  2436.0     NaN      NaN     NaN
          Male       NaN  4941.0     NaN     NaN     NaN   1264.0     NaN
Chitwan   Female     NaN     NaN  3965.0     NaN  4850.0   1302.0     NaN
          Male       NaN     NaN     NaN     NaN   979.0      NaN     NaN
Dharan    Female     NaN     NaN     NaN     NaN     NaN      NaN     NaN
          Male       NaN     NaN     NaN     NaN  2781.0   1789.0     NaN
Kathmandu Female     NaN     NaN     NaN     NaN     NaN      NaN  1768.0
          Male       NaN     NaN     NaN  2251.0     NaN      NaN     NaN
Lalitpur  Female  4130.0     NaN     NaN     NaN     NaN      NaN     NaN
          Male     965.0     NaN     NaN   999.0     NaN      NaN     NaN
Nepalgunj Female  2836.0     NaN     NaN     NaN     NaN      NaN     NaN
          Male       NaN     NaN     NaN     NaN  3069.0      NaN     NaN
Pokhara   Female     NaN     NaN   968.0     NaN     NaN      NaN     NaN
          Male       NaN     NaN     NaN     NaN     NaN      NaN     NaN

Food Item         Thukpa
Frequency          Daily Monthly  Weekly
City      Gender
Bhaktapur Female     NaN     NaN     NaN
          Male    1862.0  2930.0     NaN
Butwal    Female     NaN     NaN     NaN
          Male       NaN     NaN   517.0
Chitwan   Female     NaN     NaN  2055.0
          Male       NaN     NaN     NaN
Dharan    Female     NaN     NaN     NaN
          Male       NaN     NaN     NaN
Kathmandu Female     NaN  2283.0     NaN
          Male    4158.5     NaN     NaN
Lalitpur  Female     NaN  1848.0     NaN
          Male       NaN     NaN     NaN
Nepalgunj Female     NaN     NaN     NaN
          Male    1056.0     NaN     NaN
Pokhara   Female     NaN     NaN     NaN
          Male       NaN  4486.0     NaN